{% extends 'base.html.twig' %}

{% block title %}Production{% endblock %}

{% block body %}
    <h1>Détails</h1>

    <p>Regardez le detail de la production ici</p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ production.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ production.contenu }}</td>
            </tr>
            <tr>
                <th>PrixFinal</th>
                <td>{{ production.prixFinal }}</td>
            </tr>
        </tbody>
    </table>

    
<a href="{{ path('panier_add', {'id': production.id}) }}">Acheter</a>
<a href="{{ path('estimation_new', {'id': production.id}) }}">Estimer</a>
<a href="{{ path('critique_new', {'id': production.id}) }}">Commenter</a>
<a href="{{ path('favoris_add', {'id': production.id}) }}">En favoris</a>

<h2>Critiques</h2>
<div>
    {% for truc in production.critiques %}
        <div>
        {{ truc.commentaire }}
        <div>
    {% endfor %}
</div>

<h2>Estimations</h2>
<div>
    {% for truc in production.estimations %}
        <div>
        {{ truc.prix }}
        <div>
    {% endfor %}
</div>

{% endblock %}
