{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrixTotal</th>
                <th>IsPaid</th>
                <th>CreatedAt</th>
                <th>PaidAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.prixTotal }}</td>
                <td>{{ commande.isPaid ? 'Yes' : 'No' }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('H:i:s d/m/Y') : '' }}</td>
                <td>{{ commande.paidAt ? commande.paidAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
