{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>{{ categorie.titre }}</h1>

    <div>
        {{ categorie.description }}
    </div>

    <div>
        {% for production in categorie.productions %}
            <div>
                <h2>{{ production.titre }}</h2>
                <div>
                    <a href="{{ path('production_show', {'id': production.id}) }}">Voir le contenu</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('categorie_index') }}">back to list</a>
{% endblock %}
